<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

-   Collect exchange rate data using an API
-   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [5]:
import requests
import pandas as pd
import json

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data. 
1. Open the url : https://exchangeratesapi.io/ and click on **Get Free API Key**. 
2. Subscribe for Free plan and Sign-in with the Google Account. 
3. Once the account is created you will be redirected to https://apilayer.com website.
2. Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png">

3. Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

 <b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [11]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=c4e4237a17b9ee2ba68c5acca7a74701"  #Make sure to change ******* to your API key.
data = json.loads(requests.get(url).text)
data

{'success': True,
 'timestamp': 1694509503,
 'base': 'EUR',
 'date': '2023-09-12',
 'rates': {'AED': 3.937787,
  'AFN': 83.658613,
  'ALL': 106.7695,
  'AMD': 412.507531,
  'ANG': 1.930033,
  'AOA': 887.142872,
  'ARS': 375.196099,
  'AUD': 1.668211,
  'AWG': 1.932416,
  'AZN': 1.820171,
  'BAM': 1.951569,
  'BBD': 2.162212,
  'BDT': 117.535162,
  'BGN': 1.956001,
  'BHD': 0.404159,
  'BIF': 3032.937189,
  'BMD': 1.072076,
  'BND': 1.457594,
  'BOB': 7.39999,
  'BRL': 5.286298,
  'BSD': 1.070888,
  'BTC': 4.1549269e-05,
  'BTN': 88.821034,
  'BWP': 14.590501,
  'BYN': 2.703039,
  'BYR': 21012.680595,
  'BZD': 2.15862,
  'CAD': 1.456146,
  'CDF': 2675.900386,
  'CHF': 0.955568,
  'CLF': 0.034647,
  'CLP': 956.022997,
  'CNY': 7.812429,
  'COP': 4274.901218,
  'CRC': 574.554259,
  'CUC': 1.072076,
  'CUP': 28.410002,
  'CVE': 110.026954,
  'CZK': 24.614,
  'DJF': 190.676578,
  'DKK': 7.459721,
  'DOP': 60.828113,
  'DZD': 147.203462,
  'EGP': 33.162947,
  'ERN': 16.081133,
  'ETB': 59.200442,
  'EUR': 1,
  'FJD': 2.430556,
  'FKP': 0.855877,
  'GBP': 0.859767,
  'GEL': 2.803502,
  'GGP': 0.855877,
  'GHS': 12.288414,
  'GIP': 0.855877,
  'GMD': 64.861296,
  'GNF': 9193.409988,
  'GTQ': 8.433753,
  'GYD': 224.224884,
  'HKD': 8.394737,
  'HNL': 26.380802,
  'HRK': 7.378882,
  'HTG': 144.581914,
  'HUF': 386.05249,
  'IDR': 16456.359547,
  'ILS': 4.062899,
  'IMP': 0.855877,
  'INR': 88.89275,
  'IQD': 1402.459207,
  'IRR': 45311.27294,
  'ISK': 143.701094,
  'JEP': 0.855877,
  'JMD': 165.301595,
  'JOD': 0.759138,
  'JPY': 157.370259,
  'KES': 157.053191,
  'KGS': 94.760943,
  'KHR': 4427.56541,
  'KMF': 491.278855,
  'KPW': 964.82534,
  'KRW': 1423.284897,
  'KWD': 0.330885,
  'KYD': 0.892465,
  'KZT': 495.5755,
  'LAK': 21241.94351,
  'LBP': 16095.701521,
  'LKR': 345.910003,
  'LRD': 199.781764,
  'LSL': 20.3641,
  'LTL': 3.16556,
  'LVL': 0.648488,
  'LYD': 5.199774,
  'MAD': 10.91758,
  'MDL': 19.249264,
  'MGA': 4835.560708,
  'MKD': 61.619629,
  'MMK': 2248.944846,
  'MNT': 3725.25469,
  'MOP': 8.640466,
  'MRO': 382.730784,
  'MUR': 48.38702,
  'MVR': 16.574321,
  'MWK': 1177.158681,
  'MXN': 18.554926,
  'MYR': 5.014636,
  'MZN': 67.808724,
  'NAD': 20.364089,
  'NGN': 833.529303,
  'NIO': 39.186498,
  'NOK': 11.441962,
  'NPR': 142.112873,
  'NZD': 1.815558,
  'OMR': 0.412734,
  'PAB': 1.070883,
  'PEN': 3.982665,
  'PGK': 3.919502,
  'PHP': 60.740565,
  'PKR': 318.650179,
  'PLN': 4.680344,
  'PYG': 7778.135553,
  'QAR': 3.903419,
  'RON': 4.96575,
  'RSD': 117.283982,
  'RUB': 101.823057,
  'RWF': 1289.703682,
  'SAR': 4.021203,
  'SBD': 9.010113,
  'SCR': 14.005464,
  'SDG': 644.199139,
  'SEK': 11.891264,
  'SGD': 1.459743,
  'SHP': 1.304448,
  'SLE': 23.747871,
  'SLL': 21173.491843,
  'SOS': 610.553766,
  'SSP': 644.903487,
  'SRD': 41.242209,
  'STD': 22189.799177,
  'SYP': 13938.105485,
  'SZL': 20.263254,
  'THB': 38.181981,
  'TJS': 11.780014,
  'TMT': 3.752264,
  'TND': 3.341655,
  'TOP': 2.56403,
  'TRY': 28.832759,
  'TTD': 7.267243,
  'TWD': 34.348549,
  'TZS': 2685.549759,
  'UAH': 39.54403,
  'UGX': 3984.379705,
  'USD': 1.072076,
  'UYU': 40.731876,
  'UZS': 13025.757731,
  'VEF': 3569592.688384,
  'VES': 35.698454,
  'VND': 25836.484489,
  'VUV': 131.071699,
  'WST': 2.995802,
  'XAF': 654.53784,
  'XAG': 0.046502,
  'XAU': 0.000558,
  'XCD': 2.897338,
  'XDR': 0.811348,
  'XOF': 654.543932,
  'XPF': 119.535474,
  'YER': 268.394402,
  'ZAR': 20.258261,
  'ZMK': 9649.967959,
  'ZMW': 22.408414,
  'ZWL': 345.207887}}

### Save as DataFrame

 <b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [20]:
# Turn the data into a dataframe
dataframe = pd.DataFrame(data)
dataframe

     success   timestamp base        date        rates
AED     True  1694509503  EUR  2023-09-12     3.937787
AFN     True  1694509503  EUR  2023-09-12    83.658613
ALL     True  1694509503  EUR  2023-09-12   106.769500
AMD     True  1694509503  EUR  2023-09-12   412.507531
ANG     True  1694509503  EUR  2023-09-12     1.930033
..       ...         ...  ...         ...          ...
YER     True  1694509503  EUR  2023-09-12   268.394402
ZAR     True  1694509503  EUR  2023-09-12    20.258261
ZMK     True  1694509503  EUR  2023-09-12  9649.967959
ZMW     True  1694509503  EUR  2023-09-12    22.408414
ZWL     True  1694509503  EUR  2023-09-12   345.207887

[170 rows x 5 columns]

In [21]:
# Drop unnescessary columns
df=dataframe.drop(['success','timestamp','base','date'], axis=1)
df

           rates
AED     3.937787
AFN    83.658613
ALL   106.769500
AMD   412.507531
ANG     1.930033
..           ...
YER   268.394402
ZAR    20.258261
ZMK  9649.967959
ZMW    22.408414
ZWL   345.207887

[170 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [22]:
# Save the Dataframe
df.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

| | Rates |
| ------- | ------- |
|  AED| 4.398618    |
|  AFN| 92.917693   |  
|  ALL| 123.099093  |
|  AMD| 621.935674  |
|  ANG| 2.149648    |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url|
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).